<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="col-sm-12">
		<div class="ibox">
			<div class="ibox-body">
				<input type="hidden" id="bbb" th:value="${userid}">
				<table id="exampleTable" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
</div>

</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/ywms/ywmsUser/lookwithdraw.js"></script>
</body>
</html>