<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.ywms.dao.YwmsPhotoReviewDao">

	<select id="get" resultType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		select `id`,`userid`,`nickname`,`portraiturl`,`phostatus`,`createtime`,`updatetime`,`del` from ywms_photo_review where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		SELECT a.*,b.yyid,b.usersex,b.portraiturl AS nowportraiturl ,b.phonenumber,b.deleteflag  FROM `ywms_photo_review` a JOIN `ywms_user` b  ON a.userid =b.userid
        <where>
			 a.phostatus=0
		  		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  		  <if test="userid != null and userid != ''"> and a.userid = #{userid} </if>
		  		  <if test="nickname != null and nickname != ''"> and a.nickname   like CONCAT('%', #{nickname, jdbcType=VARCHAR}, '%') </if>
		  		  <if test="portraiturl != null and portraiturl != ''"> and a.portraiturl = #{portraiturl} </if>
		  		  <if test="createtime != null and createtime != ''"> and a.createtime = #{createtime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and a.updatetime = #{updatetime} </if>
			      <if test="usersex != null and usersex != ''"> and b.usersex = #{usersex} </if>
			      <if test="yyid != null and yyid != ''"> and b.yyid = #{yyid} </if>
			      <if test="phonenumber != null and phonenumber != ''"> and b.phonenumber = #{phonenumber} </if>
			      <if test="deleteflag != null and deleteflag != ''"> and b.deleteflag = #{deleteflag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		SELECT count(*)  FROM `ywms_photo_review` a JOIN `ywms_user` b  ON a.userid =b.userid
		<where>
			 a.phostatus=0
			<if test="id != null and id != ''"> and a.id = #{id} </if>
			<if test="userid != null and userid != ''"> and a.userid = #{userid} </if>
			<if test="nickname != null and nickname != ''"> and a.nickname like CONCAT('%', #{nickname, jdbcType=VARCHAR}, '%') </if>
			<if test="portraiturl != null and portraiturl != ''"> and a.portraiturl = #{portraiturl} </if>
			<if test="createtime != null and createtime != ''"> and a.createtime = #{createtime} </if>
			<if test="updatetime != null and updatetime != ''"> and a.updatetime = #{updatetime} </if>
			<if test="usersex != null and usersex != ''"> and b.usersex = #{usersex} </if>
			<if test="yyid != null and yyid != ''"> and b.yyid = #{yyid} </if>
			<if test="phonenumber != null and phonenumber != ''"> and b.phonenumber = #{phonenumber} </if>
			<if test="deleteflag != null and deleteflag != ''"> and b.deleteflag = #{deleteflag} </if>
		 </where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO" useGeneratedKeys="true" keyProperty="id">
		insert into ywms_photo_review
		(
			`userid`, 
			`nickname`, 
			`portraiturl`, 
			`phostatus`, 
			`createtime`, 
			`updatetime`, 
			`del`
		)
		values
		(
			#{userid}, 
			#{nickname}, 
			#{portraiturl}, 
			#{phostatus}, 
			#{createtime}, 
			#{updatetime}, 
			#{del}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		update ywms_photo_review 
		<set>
			<if test="userid != null">`userid` = #{userid}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="portraiturl != null">`portraiturl` = #{portraiturl}, </if>
			<if test="phostatus != null">`phostatus` = #{phostatus}, </if>
			<if test="createtime != null">`createtime` = #{createtime}, </if>
			<if test="updatetime != null">`updatetime` = #{updatetime}, </if>
			<if test="del != null">`del` = #{del}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ywms_photo_review where id = #{value}
	</delete>

	<update id="no" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		UPDATE   `ywms_photo_review`  SET phostatus =2 where  id = #{id}
	</update>

	<update id="yes" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		UPDATE   `ywms_photo_review`  SET phostatus =1 where id = #{id}
	</update>

	<update id="updatephoto" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		update ywms_user
		<set>
			<if test="portraiturl != null">`portraiturl` = #{portraiturl}, </if>
		</set>
		where userid = #{userid}
	</update>

	<update id="updatedefaultphoto" parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		update ywms_user
		<set>
			<if test="portraiturl != null">`portraiturl` = #{portraiturl},unreadsysinfo =unreadsysinfo+1 </if>
		</set>
		where userid = #{userid}
	</update>


	<delete id="batchRemove">
		delete from ywms_photo_review where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="batchPass" parameterType="java.util.ArrayList">
		update ywms_photo_review set phostatus =#{status} where id in
		<foreach item="did" collection="ids" index="index" open="(" separator="," close=")">
			#{did}
		</foreach>
	</update>

	<update id="batchnotPass" parameterType="java.util.ArrayList">
		update ywms_photo_review set phostatus =#{status} where id in
		<foreach item="did" collection="ids" index="index" open="(" separator="," close=")">
			#{did}
		</foreach>
	</update>


	<insert id="insertPhotoReviewJiguangInfo" parameterType="com.bootdo.ywms.domain.YwmsJgDO" >
		insert into ywms_jiguanginfo
		(
		touserid,
		type,
		commentcontext
		)
		values
		(
		#{touserid},
		#{type},
		#{commentcontext}
		)
	</insert>

	<update id="addunreadsysinfo"  parameterType="com.bootdo.ywms.domain.YwmsPhotoReviewDO">
		UPDATE   `ywms_user`  SET `portraiturl` = #{portraiturl}, unreadsysinfo =unreadsysinfo+1 where userid = #{userid}
	</update>

</mapper>